body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding:.2em 1em;
  margin-bottom:1em;
  margin-right:1em;
  font-size:1em;
  border-radius: .2em;
}

/* HEADER */
  .App-header {
    background-color: #2e3648;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 50%;
    padding-bottom: 9px;
  }
  .App-header h1 {
    float:right;
    padding:0 1em;
  }
/* MAIN APP CONTAINER */
  .main_app {
    max-width: 100%;
    margin:0 auto;
  }

/* HOME */
  .home {
    padding:1em 1em 0;
  }

/* NAVIGATION */
.navigation {
  background:#eee;
  float:left;
  padding: 1em;
  margin-right: 3em;
  height:100vh;
}

/* MAIN MAIN */
  .searches {
    margin:0 auto;
    padding:1em;
  }

  /* PIXABAY SEARCH RESULTS */
  .all_pixabay_results {
    max-width: 44rem;
    margin: 0 auto;
  }
  .pixabay_results {
    margin: .5em;
  }

/* INDIVIDUAL BRANDS  */
  .deleteButton {
    background:#d80a0a;
    color:#fff;
    padding:.2em 1em;
    margin-bottom:1em;
    margin-right:1em;
    font-size:1em;
    border-radius: .2em;
  }