body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin-top:3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col_half {
  width:50%;
  float:left;
}

.btn {
  padding:.2em 1em;
  margin: 1em 0 1em 0;
  font-size:1em;
  border-radius: .2em;
  background: #f17058;
  color:#fff;
  box-shadow: 1px 1px 4px #2e3648;
  border: none;
}
/* LOGIN SIGNUP */
  .login_links{
    float:right;
    padding:1em 2em;
  }
  .login_links a {
    color:#fff;
    margin-right:1em;
    font-size:1.3em;
  }
  .info{
    margin: auto;
    width: 50%;
    padding: 4em .3em;
    color: #fff;
  }
  .logindiv {
    display:inline-block
  }
  .btn a {
    color:#fff;
    text-decoration: none;
  }
  .squiggle {
    max-width: 35em;
  }
  
  .color-change-5x {
    -webkit-animation: color-change-5x 15s linear infinite alternate both;
            animation: color-change-5x 15s linear infinite alternate both;
  }
  @-webkit-keyframes color-change-5x {
    0% {
      background:#dfd1d1;
    }
    25% {
      background: #c7baba;
    }
    50% {
      background: #b4afaf;
    }
    75% {
      background: #c7c1c1;
    }
    100% {
      background: #b3b2b2;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #dfd1d1;
    }
    25% {
      background: #c7baba;
    }
    50% {
      background: #b4afaf;
    }
    75% {
      background: #c7c1c1;
    }
    100% {
      background: #b3b2b2;
    }
  }

/* HEADER */
  .App-header {
    background-color: #2e3648;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 50%;
    padding:.6em 0;
  }
  .App-header h1 {
    text-align:right;
    margin:.2em 0;
  }
  .floatright {
    float:right;
  }
  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    padding: 0 3em;
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
/* MAIN APP CONTAINER */
  .main_app {
    max-width: 100%;
    margin:0 auto;
  }

/* HOME */
  .home {
    padding:1em 1em 0;
  }
  Input {
    width: 20em;
    font-size: .9em;
    height: 2.5em;
    background: white;
    border: none;
    margin-top: .5em;
    border-radius: .2em;
    box-shadow: 1px 1px 4px #2e3648;
  }
  TextArea {
    width: 30em;
    font-size: .9em;
    height: 2.5em;
    background: white;
    border: none;
    margin-top: .5em;
    border-radius: .2em;
    box-shadow: 1px 1px 4px #2e3648;
  }
  .form-control {
    width:100%;
  }

/* NAVIGATION */
.navigation {
  background:#eee;
  float:left;
  padding: 1em;
  margin-right: 3em;
  height:200vh;
}



/* MAIN MAIN */
  .searches {
    margin:0 auto;
    padding:1em;
  }

  /* PIXABAY SEARCH RESULTS */
  .all_pixabay_results {
    max-width: 44rem;
    margin: 0 auto;
  }
  .pixabay_results {
    margin: .5em;
  }

/* INDIVIDUAL BRANDS  */
  .deleteButton {
    background:#d80a0a;
    color:#fff;
    padding:.2em 1em;
    margin-bottom:1em;
    margin-right:1em;
    font-size:1em;
    border-radius: .2em;
    box-shadow: 1px 1px 4px #2e3648;
    border: none;
  }
  .brand_images {
    max-height: 250px;
  }
  /* AWS SEARCH */
  .awsFiles {
    max-width:10em;
    margin-right:1em;
  }

  /* MODAL */
  /* // Modals
// --------------------------------------------------

// Kill the scroll on the body */
.modal-open {
  overflow: hidden;
}

/* // Container that the modal scrolls within */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
/* 
// Shell div to position the modal with bottom padding */
.modal-dialog {
  position: relative;
  width: 30em;
  margin: 1em 20em;
}

/* // Actual modal */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2em;
  box-shadow:(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  /* // Remove focus outline from opened modal */
  outline: 0;
}

/* // Modal background */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:0 auto;
  z-index: 1;
  background-color: rgba(0,0,0,.5);
}

/* // Modal header
// Top section of the modal w/ title and dismiss */
.modal-header {
  padding: 1em;
  border-bottom: 1px solid #eee;
  /* &:extend(.clearfix all); */
}
/* // Close icon */
.modal-header .close {
  margin-top: -2px;
}

/* // Title text within header */
.modal-title {
  margin: 0;
  line-height: 1.3;
}

/* // Modal body */
/* // Where all modal content resides (sibling of .modal-header and .modal-footer) */
.modal-body {
  position: relative;
  padding: 1em;
}

/* // Footer (for actions) */
.modal-footer {
  padding: 1em;
  text-align: right;
  border-top: 1px solid #eee;
}

/* // Measure scrollbar width for padding body during modal show/hide */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
/*OKTA LOG IN */
#okta-sign-in.auth-container .okta-sign-in-header {
  border-bottom: #2e3648;
  background: #2e3648;
}
#okta-sign-in.auth-container.main-container {
  background-attachment: #eee;
}
#okta-sign-in.auth-container .button-primary {
  background:#f17058;
  background-color:#f17058;
  border:none;
}